.topo-site {
  padding: 40px 4%;
}

.txt-topo-site {
  text-align: center;
  margin-top: 30vh;
}

.txt-topo-site h1 {
  font-size: 60px;
  font-weight: 800;
}

.txt-topo-site p {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 20px;
}

.txt-topo-site a {
  padding: 8px 24px;
  margin: 0px 10px;
  font-size: 17px;
  border: 1.5px solid white;
  border-radius: 30px;
}
  section.topo-site .links-topo-site a:hover{
    color: var(--cor0);
  }
