footer{
    box-shadow: 0 0 40px 10px #ffffff1D;
}

footer .flex{
    justify-content: space-between;
    gap: 4px;
}

footer .linha-footer{
    padding: 20px;
}

footer a:hover{
    text-decoration: underline;
}

.borda{
    border-top: 2px solid var(--cor0);
}

footer .linha-footer img{
    width: 20px;
}

footer .assinatura-footer img{
    width: 180px;
}

footer .assinatura-footer{
    text-align: center;
}

footer .email-footer{
    margin: 0px 20px;
}
footer .telefone-footer{
    margin: 0px 20px;
}