@charset "UTF-8";

:root {
  --cor0: #3ea086;
  --cor1: #283d3b;
  --cor2: #e0fbfc;
  --cor3: #81717a;
  --cor4: #9d8ca1;
}

* {
  padding: 0px;
  margin: 0px;
  color: white;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
