.habilidades {
  padding: 40px 4%;
}

.habilidades-flex {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  
}

.habilidades-box {
  padding: 40px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 20px;
  margin-top: 50px;
}

.habilidades-box:hover {
  transform: scale(1.05);
}

.habilidades-box img {
  width: 36px;
  padding: 2px 2px;
}
