body {
  height: 100vh;
  background-color: var(--cor1);
  background-image: url("../Imagens/background-topo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body::after {
  z-index: -1;
  content: "";
  width: inherit;
  height: inherit;
  position: fixed;
  inset: 0;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.8) 15%,
    rgba(10, 12, 16, 0.5) 50%,
    rgba(10, 12, 16, 0.8) 85%
  );
}

header {
  padding: 20px 2%;
}

header a {
  display: inline-block;
}

header a:hover {
  color: #3ea086;
}

header nav ul li {
  display: inline-block;
  padding: 0 20px;
}

.menu-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navegação-menu a:hover {
  transition: 0.4s;
  transform: scale(1.15);
}

.navegação-social img {
  width: 35px;
  padding: 0px 6px;
  opacity: 0.7;
  transition: all 0.4s;
}

.navegação-social img:hover {
  opacity: 1;
  transform: translateY(-5px);
}

.topo-site {
  padding: 40px 4%;
}

.interface {
  display: flex;
  justify-content: center;
}

.interface h2 {
}

.txt-topo-site {
  text-align: center;
  margin-top: 20vh;
}

.txt-topo-site h1 {
  font-size: 60px;
  font-weight: 800;
}

.txt-topo-site p {
  font-size: 30px;
  font-weight: 100;
  padding-bottom: 10px;
}

.txt-topo-site button {
  padding: 10px 40px;
  margin: 0px 5px 0 5px;
  font-size: 15px;
  background-color: transparent;
  border-radius: 30px;
  border-color: white;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.4s;
}

.txt-topo-site button:hover {
  opacity: 1;
}
