.sobre{
    padding: 80px 4%;
    box-shadow: 0px -20px 40px -10px #ffffff1D;
}
.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .titulo-h2{
    text-align: left;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .titulo-h2 span{
    color: var(--cor1);
    display: block;
}

.sobre .txt-p{
    margin: 20px 0;
    text-align: justify;
}

.sobre img{
    border-radius: 25px;
}